:root {
    --primary: #C10A28;
}

@font-face {
    font-family: "font-pizzaro";
    src: url("../fonts/font-pizzaro.eot");
    src: url("../fonts/font-pizzaro.eot?#iefix") format("embedded-opentype"),
        url("../fonts/font-pizzaro.woff") format("woff"),
        url("../fonts/font-pizzaro.ttf") format("truetype"),
        url("../fonts/font-pizzaro.svg#font-pizzaro") format("svg");
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0 auto;
    font-family: Calibri;
}

.top-section {
    width: 100%;
    height: 1100px;
    background-color: var(--primary);
}

.header {
    width: 80%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #C82741;
    position: relative;
    z-index: 101;
}

.header-content {
    display: flex;
    column-gap: 90px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    align-items: center;
}

.header-content > div:hover {
    cursor: pointer;
    opacity: 0.9;
    border-bottom: 3px solid #FFAD00;
}

.header-content >div:nth-child(1),
.header-content >div:nth-child(6),
.header-content >div:nth-child(7) {
    pointer-events: none;
}

/* .order-online {
    border-bottom: 3px solid #FFAD00;
} */

.contact-number {
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    text-align: right;
}
.contact-number > i{
    font-size: 10px;
    color: white;
}
.contact-number>span:nth-child(1) {
    color: #F8A303; 
}

.contact-number>span:nth-child(3) {
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
    line-height: 40px;
}

.cart {
    background-color: #8CA93D;
    padding: 30px 35px;
    border-radius: 35px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.cart .icon {
    color: white;
    font-size: 20px;
}

.menu {
    width: 80%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    position: relative;
    z-index: 100;
}

.icon {
    font-family: font-pizzaro;
    font-size: 55px;
    color: #FDBDC7;
}


.menu > div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.menu >div >p:hover,
.menu >div > p:nth-child(2):hover {
    color: white ;
    cursor: pointer;
}

.menu >div > p:nth-child(2) {
    color: #FDBDC7;
    font-size: 20px;
    font-weight: bold;
}

.preview img {
    display: flex;
    align-items: center;
    margin-top: -220px;
    position: relative;
    width: 80%;
    height: 1000px;
}